* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainbox {
   margin-left: 350px;

}

.box1{

  display: flex;
  justify-content: center;
  background-size: 100px;

}

button {
    background-color: #007bff; /* Green */
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
  }


.box2{
    justify-content: space-around;
   
}

.boxui{
    display: flex;
   text-indent: 100px;
   list-style: none;
   margin-left: 80px;
   margin-top: 20px;
    
    
}

ul{
    
    

}